{% extends "base.html" %}
{% block content %}
<h1 class="h1_title">Create new project</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.github_link.label }}<br>
        {{ form.github_link(class="form-control") }}<br>
        {% for error in form.github_link.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div>{{ message }}</div>
</form>
<h1 class="h1_title">Projects</h1>
<table class="table text-center">
    {% for i in range(projects|length) %}
        {% if result[i][3] %}
            <tr style="background-color: greenyellow" id="{{ user_id }} {{ projects[i].id }}">
        {% else %}
            <tr id="{{ user_id }} {{ projects[i].id }}">
        {% endif %}
            <td><a href="/projects/{{ user_id }}/{{ projects[i].id }}" class="project_link">{{ projects[i].title }}</a></td>
            <td>Duration: Days: {{ result[i][0] }}; Hours: {{ result[i][1] }}; Minutes: {{ result[i][2] }}</td>
            <td><button onclick="delete_project(this)" class="btn btn-danger text-white" data-project="{{ projects[i].id }}" data-user="{{ projects[i].user_id }}">X</button></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}