{% extends "base.html" %}
{% block content %}
<h1 class="h1_title">{{ project.title }}</h1>
<h1 class="h1_title">Refactor project</h1>
<form method="post">
    <label for="title_project">Title</label>
    <br>
    <input class="form-control" type="text" value="{{ project.title }}" id="title_project" name="title_project">
    <br>
    <label for="github_link">Github link</label>
    <br>
    <input class="form-control" type="text" value="{{ project.github_link }}" id="github_link" name="github_link" aria-describedby="basic-addon3">
    <input type="submit" value="Refactor" class="btn btn-primary refactor_but">
</form>
<h1 class="h1_title">Create new task</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div>{{ message }}</div>
</form>
<h1 class="h1_title">Tasks</h1>
<table class="table text-center">
    {% for task in project.tasks %}
        <tr id="{{ project.user_id }}-{{ project.id }}-{{ task.id }}">
            <td><a href="/tasks/{{ project.user_id }}/{{ project.id }}/{{ task.id }}" class="project_link">{{ task.title }}</a></td>
            <td><span id="duration-{{ project.user_id }}-{{ project.id }}-{{ task.id }}">Duration: Days:; Hours:; Minutes:</span></td>
            <td>
                <button id="start-{{ project.user_id }}-{{ project.id }}-{{ task.id }}" onclick="start(this)" data-project="{{ project.id }}" data-user="{{ project.user_id }}" data-task="{{ task.id }}"><img style="width: 50px" id="playButton" src="https://res.cloudinary.com/https-tinloof-com/image/upload/v1593360448/blog/time-in-js/play-button_opkxmt.svg" /></button>
                <button style="display: none" id="stop-{{ project.user_id }}-{{ project.id }}-{{ task.id }}" onclick="stop(this)" data-project="{{ project.id }}" data-user="{{ project.user_id }}" data-task="{{ task.id }}"><img style="width: 50px" src="https://res.cloudinary.com/https-tinloof-com/image/upload/v1593360448/blog/time-in-js/pause-button_pinhpy.svg" /></button>
                <button style="position: absolute" onclick="reset(this)" data-project="{{ project.id }}" data-user="{{ project.user_id }}" data-task="{{ task.id }}"><img style="width: 50px" id="resetButton" src="https://res.cloudinary.com/https-tinloof-com/image/upload/v1593360448/blog/time-in-js/reset-button_mdv6wf.svg" /></button>
            </td>
            <td><button onclick="delete_task(this)" class="btn btn-danger text-white" data-project="{{ project.id }}" data-user="{{ project.user_id }}" data-task="{{ task.id }}">X</button></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}